.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.listamenu {
    float: left;}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

.event-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

.event-list li {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.details-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.details-button:hover {
    background-color: #218838;
}

input[type="number"] {
    margin-top: 10px;
    padding: 5px;
    width: 50px;
}

#total {
    font-weight: bold;
}
